# Ignore everything by default
*

# Allow necessary directory structure
!/module_package/
!/module_package/**
!/.gitignore
!/README.md
!/README_EN.md
!/Galaxy_A05s_SuperFastCharge_v3.5.zip
!/build_kprobe_override.py
!/package_module.py
